<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
  <h2>
    Welcome to {{ title }}'s Portfolio Page! <br>
  </h2>

  <h3 id="city">
    I am from a {{ city}}.<br>
  </h3>

  <h3 id="tagline">
    I do what I do {{ TagLine}}!<br>
  </h3>

  <h3>
    Most days I feel {{ AboutMe}}<br>
  </h3>



  <img  alt="Angular Logo" src="../assets/images/republic1.jpg">
  <app-greeting></app-greeting>
  <app-contacts></app-contacts>
  <app-skills></app-skills>


</div>

<app-contact-form></app-contact-form>

<app-phone-book></app-phone-book>


